################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorServer/CarvedRock-BlazorServer/CarvedRock-BlazorServer/bin/Debug/net6.0
/BlazorServer/CarvedRock-BlazorServer/CarvedRock-BlazorServer/obj
/BlazorWebAssembly/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/bin/Debug/net6.0
/BlazorWebAssembly/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/obj
/gRPC/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/bin/Debug/net6.0
/gRPC/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/obj
/gRPC/CarvedRock-BlazorWebAssembly/CarvedRock-gRPC/obj
/gRPC/CarvedRock-BlazorWebAssembly/CarvedRock-gRPC/bin/Debug/net6.0
/gRPC/CarvedRock-MVC/CarvedRock-gRPC/bin/Debug/net6.0
/gRPC/CarvedRock-MVC/CarvedRock-gRPC/obj
/gRPC/CarvedRock-MVC/CarvedRock-MVC/bin/Debug/net6.0
/gRPC/CarvedRock-MVC/CarvedRock-MVC/obj
/MVC/CarvedRock-MVC/CarvedRock-MVC/bin/Debug/net6.0
/MVC/CarvedRock-MVC/CarvedRock-MVC/obj
/RazorPages/CarvedRock-RazorPages/CarvedRock-RazorPages/bin/Debug/net6.0
/RazorPages/CarvedRock-RazorPages/CarvedRock-RazorPages/obj
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-BlazorWebAssembly/bin/Debug/net6.0
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-BlazorWebAssembly/obj
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-Shared/bin/Debug/net6.0
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-Shared/obj
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-WebApi/bin/Debug/net6.0
/SignalR/CarvedRock-BlazorWebAssemblyMinimalSignalR/CarvedRock-WebApi/obj
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-BlazorWebAssembly/obj
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-Shared/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-Shared/obj
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-WebApi/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssembly/CarvedRock-WebApi/obj
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-BlazorWebAssembly/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-BlazorWebAssembly/obj
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-Shared/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-Shared/obj
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-WebApi/bin/Debug/net6.0
/WebApi/CarvedRock-BlazorWebAssemblyMinimal/CarvedRock-WebApi/obj
/InitialApplication/obj/Debug/net6.0
/MVC/CarvedRock-MVC/CarvedRock-MVC/bin/Release/net6.0/CarvedRock-MVC.dll
/MVC/CarvedRock-MVC/CarvedRock-MVC/bin/Release/net6.0/CarvedRock-MVC.pdb
/MVC/CarvedRock-MVC/CarvedRock-MVC/bin/Release/net6.0/CarvedRock-MVC.exe
