<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carved Rock</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <script crossorigin="anonymous"
            src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-md-5 mb-4">
                <img height="150" src="/Images/carved-rock-logo.png" alt="logo" />
            </div>
            <div class="col-md-7 mt-5">
                For outdoorsy types!
            </div>
        </header>
        @RenderBody()
    </div>
    <div class="container">
        <header class="row">
            <iframe src='https://webchat.botframework.com/embed/AzureBotNegherbon-1?s=cApXvUtjbOI.4sIl15dsDRbXLfBcYMDEk4hw18uJypDy6AHemOgPByA' style='min-width: 200px; width: 100%; min-height: 250px;'></iframe>
        </header>
    </div>
</body>
</html>
